@import "../css/desktop/setting.css";
@import "../css/desktop/header.css";
@import "../css/desktop/slider.css";
@import "../css/desktop/story.css";
@import "../css/desktop/market.css";
@import "../css/desktop/shegeftangiz.css";
@import "../css/desktop/shegeftangiz_supermarket.css";
@import "../css/desktop/brands_image.css";
@import "../css/desktop/category.css";
@import "../css/desktop/brand_image2.css";
@import "../css/desktop/popularbrands.css";
@import "../css/desktop/brand_image3.css";
@import "../css/desktop/suggestion.css";
@import "../css/desktop/digiplus.css";
@import "../css/desktop//digiclub.css";
@import "../css/desktop/suggestion_2.css";
@import "../css/desktop/mostsold.css";
@import "../css/desktop/reading.css";
@import "../css/desktop/footer.css";
