.digiclub{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    .digiclub__center{
        width: 85%;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        border-radius: 16px;
        background: linear-gradient(76.02deg,#35a6c8 33.32%,#007295 71.55%),radial-gradient(21.29% 87.33% at 50% 50.67%,#7cf2f6 0,#35a6c8 100%);
        .digiclub_right{
            width: 40%;
            height: inherit;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-right: 30px;
        }
        .digiclub_left{
            width: 60%;
            height: inherit;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            column-gap: 4px;
            .digiclub_items{
                width: 273px;
                height: 63px;
                background-color: white;
                display: flex;
                flex-flow: row wrap;
                margin-right: 2px;
                padding-left: 1px;
                .digiclub_text{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    column-gap: 6px;
                    padding-right: 10px;
                    & span{
                        font-family: var(--font-family);
                        font-size: 13px;
                    }
                }
                & img {
                    width: 168px;
                    height: 60px;
                }
            }
        }
    }
}
.digiclub_right_border{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.digiclub_left_border{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}