.market {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;

  .market__center {
    width: 78%;
    height: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    column-gap: 100px;
    .market__1,
    .market__2,
    .market__3,
    .market__4,
    .market__5,
    .market__6,
    .market__7 {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      & img {
        width: 52px;
        height: 52px;
      }
      & h5 {
        font-style: normal;
        font-size: 13px;
        opacity: 0.8;
        font-family: var(--font-family);
      }
    }
    .market__8 {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        position: absolute;
        padding-right: 330px;
        & svg {
            width: 32px;
            height: 32px;
            padding-top: 10px;
            padding-left: 3px;
        }
        & h5 {
            font-size: 13px;
            opacity: 0.8;
            padding-top: 26px;
        }
      .circle {
        width: 52px;
        height: 52px;
        border: 1px lightgray solid;
        border-radius: 50%;
        background-color: lightgray;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
