.mostsold {
  width: 100%;
  height: 405px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .mostsold_center {
    width: 85%;
    height: inherit;
    border: 1px solid #ebe8fb;
    border-radius: 16px;
    .mostsold_text {
      width: 100%;
      height: 20%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      .mostsold_text_center {
        width: 92%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        padding-right: 70px;
        & p {
          font-family: var(--font-family);
          font-weight: normal;
          font-size: 21px;
        }
      }
      .mostsold_link {
        width: calc(100% - 92%);
        display: flex;
        justify-content: center;
        align-items: center;
        & a {
          font-family: var(--font-family);
          font-weight: normal;
          font-size: 14px;
          text-decoration: none;
          color: #19bfd3;
          font-weight: 600;
        }
      }
    }
    .mymostsold {
      width: 100%;
      height: calc(100% - 20%);
      display: flex;
      flex-flow: row wrap;
      .mostsold_item {
        width: 25%;
        height: inherit;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
      }
      .mostsold_item_details {
        width: 100%;
        height: 105px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;

        & a {
          height: 105px;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          column-gap: 15px;
          text-decoration: none;
          color: black;
          & img {
            width: 86px;
            height: 86px;
          }
          & span {
            font-size: 26px;
            font-family: var(--font-family-number);
          font-weight: normal;
          color: #19bfd3;
          font-weight: bold;
          }
          & p {
            font-size: 12px;
            font-family: var(--font-family);
          font-weight: normal;
          text-align: start;
          }
        }
      }
    }
  }
}