.popular__brands {
  width: 100%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
    margin-top: 10px;
  .popular_brands_center {
    width: 90%;
    height: inherit;
    border: 2px solid #EBE8FB;
    border-radius: 20px;
    .popular_brands_top {
      width: 100%;
      height: 30%;
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: var(--font-family);
      font-weight: normal;
      font-size: 22px;
      & p {
        display: flex;
        align-items: center;
        column-gap: 10px;
      }
    }
    .popular_brands_bottom {
      margin-top: 20px;
    }
  }
}
.mypopularbrands {
  width: 100%;
  height: calc(100% - 20%);
  background-color: #EBE8FB;
  .swiper-slide {
    display: flex;
    flex-flow: column wrap;
    & img {
      width: 110px;
      height: 110px;
      object-fit: contain;
    }
  }
}
.swiper-rtl .next_popular_brands{
    width: 35px;
    height: 35px;
    background-color: whitesmoke;
    border-radius: 50%;
  }
  .swiper-rtl .prevs_popular_brands{
    width: 35px;
    height: 35px;
    background-color: whitesmoke;
    border-radius: 50%;
  }
  .swiper-rtl .next_popular_brands:after {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }
  .swiper-rtl .prevs_popular_brands:after {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }