.shegeftangiz_1 {
  width: 100%;
  height: 64px;
  background-image: url(../../images/shegeftangizha/header.svg),
    linear-gradient(to top, #ef4056, #ef394e);
  background-repeat: no-repeat;
  background-position: center;
}
.shegeftangiz_2 {
  width: 100%;
  height: 400px;

  .next_shegeftangiz_2 {
    position: absolute !important;
    right: 140px !important;
    top: 350px !important;
  }
  .prev_shegeftangiz_2 {
    position: absolute !important;
    right: 90px !important;
    top: 350px !important;
  }
  .swiper-rtl .next_shegeftangiz_2 {
    width: 35px;
    height: 35px;
    background-color: whitesmoke;
    border-radius: 50%;
  }
  .swiper-rtl .prev_shegeftangiz_2 {
    width: 35px;
    height: 35px;
    background-color: whitesmoke;
    border-radius: 50%;
  }
  .swiper-rtl .next_shegeftangiz_2:after {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }
  .swiper-rtl .prev_shegeftangiz_2:after {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }
  .d-none {
    visibility: hidden;
    transition: 200ms;
  }
  .shegeftangiz_2:hover .d-none {
    visibility: visible;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    margin-left: 2px !important;
  }
  .swiper-pagination-bullet-active {
    background-color: whitesmoke !important;
    width: 15px !important;
    height: 5px !important;
    border-radius: 5px !important;
  }
}
.shegeftangiz_3 {
  width: 100%;
  height: 400px;
  background-color: #3864ff;
  padding: 20px 30px 20px 120px;
  & a {
    text-decoration: none;
  }
  .shegeftangizha_1 {
    width: 100%;
    height: 100%;
    background-color: #3864ff;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
    & img {
      width: 120px;
      height: 120px;
    }
    .slide_1_shegeftangiz_2 {
      width: 145px;
      height: 145px;
    }
  }
  .swiper-slide {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    padding: 20px 5px;
    align-items: center;
    border-radius: 8px;
    .shegeftangiz_3_top {
      width: 200px;
      & img {
        width: 116px;
        height: 14px;
      }
    }
    .shegeftangiz_3_center {
      width: 200px;
      display: flex;
      justify-content: center;
      & img {
        width: 150px;
        height: 150px;
        margin-top: 15px;
      }
    }
    .shegeftangiz_3_bottom {
      width: 200px;
      & h3 {
        color: rgb(63, 64, 100);
        font-family: var(--font-family);
        font-size: 11px;
        padding-top: 10px;
        text-align: right;
        font-weight: 700;
      }
      .text_center {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        column-gap: 5px;

        & img {
          width: 18px;
          height: 10.5px;
        }
        & p {
          color: rgb(98, 102, 109);
          font-family: var(--font-family);
          font-size: 11px;
          font-weight: 400;
        }
      }
      .text_discount {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        margin-left: 10px;
        padding-top: 15px;
        & h5 {
          font-size: 18px;
          font-family: var(--font-family-number);
          color: black;
        }

        & span {
          font-family: var(--font-family-number);
          font-size: 16px;
          padding: 0 10px;
          border-radius: 15px;
          background-color: red;
          color: whitesmoke;
        }
      }
      .text_before {
        display: block;
        width: 100%;
        font-family: var(--font-family-number);
        text-align: left;
        padding-left: 18px;
        font-size: 16px;
        color: rgb(142, 136, 136);
        text-decoration: line-through;
      }
    }
  }
}
.shegeftangiz_4 {
  width: 100%;
  height: 460px;
  margin-top: 20px;

  padding: 10px;
  display: flex;
  justify-content: center;
  .shegeftangiz_4__center {
    width: 1500px;
    border: 1px solid rgb(224, 224, 226);
    border-radius: 10px;
    .shegeftangiz_4_top {
      width: 100%;
      height: auto;
      padding: 12px 20px;
      display: flex;
      flex-flow: row wrap;
      column-gap: 10px;
      & span {
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 700;
        color: rgb(12, 12, 12);
      }
    }
    .red_line {
      width: 70px;
      height: 2px;
      margin-top: 5px;
      background-color: rgb(239, 57, 78);
      margin-right: 20px;
    }
    .shegeftangiz_4_bottom {
      & a {
        text-decoration: none;
      }
      padding: 12px 8px;
      .swiper-slide {
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        padding: 10px 5px;
        align-items: center;
        border-radius: 8px;
        border-left: 1px solid #eceeec;
        .shegeftangiz_4_top {
          width: 200px;
          & img {
            width: 116px;
            height: 14px;
          }
        }
        .shegeftangiz_4_center {
          width: 200px;
          display: flex;
          justify-content: center;
          & img {
            width: 150px;
            height: 150px;
            margin-top: 10px;
          }
        }
        .shegeftangiz_4_bottom {
          width: 200px;
          & h3 {
            color: rgb(63, 64, 100);
            font-family: var(--font-family);
            font-size: 12px;
            padding-top: 10px;
            text-align: right;
            font-weight: 700;
          }
          .text_discount {
            width: 100%;
            height: auto;
            display: flex;
            flex-flow: row-reverse nowrap;
            justify-content: space-between;
            margin-left: 10px;
            margin-top: 30px;
            & h5 {
              font-size: 18px;
              font-family: var(--font-family-number);
              color: black;
            }
            & span {
              font-family: var(--font-family-number);
              font-size: 16px;
              padding: 0 10px;
              border-radius: 15px;
              background-color: red;
              color: whitesmoke;
            }
          }
          .text_before {
            display: block;
            width: 100%;
            font-family: var(--font-family-number);
            text-align: left;
            padding-left: 18px;
            font-size: 16px;
            color: rgb(142, 136, 136);
            text-decoration: line-through;
          }
        }
      }
    }
    .swiper-rtl .next_shegeftangiz_4 {
      width: 35px;
      height: 35px;
      background-color: whitesmoke;
      border-radius: 50%;
      visibility: visible;
    }
    .swiper-rtl .prev_shegeftangiz_4 {
      width: 35px;
      height: 35px;
      background-color: whitesmoke;
      border-radius: 50%;
    }
    .swiper-rtl .next_shegeftangiz_4:after {
      font-size: 14px;
      color: black;
      font-weight: bold;
    }
    .swiper-rtl .prev_shegeftangiz_4:after {
      font-size: 14px;
      color: black;
      font-weight: bold;
    }
    .d-none_shegeftangiz_4 {
      visibility: visible;
    }
  }
}
.shegeftangiz_5 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .shegeftangiz_5_center {
    width: 1500px;
    border: 1px solid rgb(224, 224, 226);
    border-radius: 10px;
    background-image: url(../../images/shegeftangizha/shegeftangiz_5/freshPattern.svg);
    background-color: #eceeec;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    .shegeftangiz_5_right {
      width: 40%;
      height: inherit;
      position: absolute;
      right: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: start;
      align-items: center;
      padding-right: 45px;
      column-gap: 10px;
      .box {
        width: 66px;
        height: 62px;
      }
      .supermarket__discount {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #39ae00;
        background-color: #39ae00;
        color: whitesmoke;
        border-radius: 10px;
        width: 105px;
        height: 25px;
        & p {
          font-family: var(--font-family);
        }
      }
    }
    .shegeftangiz_5_middle {
      width: 42%;
      height: inherit;
      display: inline-block;
      position: absolute;
      margin-bottom: 30px;
      margin-right: 720px;
      .supermarket__image {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 30px;
        column-gap: 8px;
        & img {
          width: 58px;
          height: 58px;
          border-radius: 50%;
        }
      }
      .supermarket__percent {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 33px;
        margin-right: 113px;
        margin-bottom: 2px;
        position: absolute;
        bottom: 0;
        & span {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          width: 34px;
          height: 20px;
          font-family: var(--font-family);
          font-size: 12px;
          border-radius: 15px;
          background-color: red;
          color: whitesmoke;
        }
      }
    }
    .shegeftangiz_5_left {
      width: 40%;
      height: inherit;
      position: absolute;
      left: 0;
      margin-left: 5%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;
      background-image: url(../../images/supermarket/freshPattern.svg);
      background-repeat: no-repeat;
      background-size: contain;
      .more__item {
        width: 144px;
        height: 50px;
        border: 1px solid white;
        border-radius: 10px;
        color: #39ae00;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        background-color: white;
        & p {
          font-family: var(--font-family);
          font-size: 13px;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          column-gap: 5px;
        }
      }
    }
  }
}
.shegeftangiz_6 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .shegeftangiz_6_center {
    width: 1500px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(224, 224, 226);
    border-radius: 10px;
    background: url(../../images/shegeftangizha/shegeftangiz_6/earlyAccessPatternPlus.svg)
        right center no-repeat,
      url(../../images/shegeftangizha/shegeftangiz_6/earlyAccessPatternPlusMobile.svg)
        left center no-repeat;
    background-color: #ece7eb;
    .shegeftangiz_6_right {
      width: 40%;
      padding: 10px;
      display: flex;
      justify-content: flex-start;
    }
    .shegeftangiz_6_left {
      width: 25%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      & span {
        font-family: var(--font-family);
        color: rgb(177, 43, 164);
        font-size: 16px;
      }
    }
  }
}
.shegeftangiz_7 {
  width: 100%;
  height: 460px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .shegeftangiz_7_center {
    width: 1500px;
    border: 1px solid rgb(224, 224, 226);
    border-radius: 10px;
    .shegeftangiz_7_top {
      width: 100%;
      height: auto;
      padding: 12px 20px;
      display: flex;
      flex-flow: row wrap;
      column-gap: 10px;
      align-items: center;
      & span {
        font-family: var(--font-family);
        font-size: 14px;
        font-weight: 700;
        color: rgb(12, 12, 12);
      }
    }
    .red_line {
      width: 70px;
      height: 2px;
      margin-top: 5px;
      background-color: rgb(239, 57, 78);
      margin-right: 20px;
    }
    .shegeftangiz_7_bottom {
      & a {
        text-decoration: none;
      }
      padding: 12px 8px;
      .swiper-slide {
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        padding: 10px 5px;
        align-items: center;
        border-radius: 8px;
        border-left: 1px solid #eceeec;
        .shegeftangiz_4_top {
          width: 200px;
          & img {
            width: 123px;
            height: 14px;
          }
        }
        .shegeftangiz_4_center {
          width: 200px;
          display: flex;
          justify-content: center;
          & img {
            width: 150px;
            height: 150px;
            margin-top: 10px;
          }
        }
        .shegeftangiz_4_bottom {
          width: 200px;
          & h3 {
            color: rgb(63, 64, 100);
            font-family: var(--font-family);
            font-size: 12px;
            padding-top: 10px;
            text-align: right;
            font-weight: 700;
          }
          .text_discount {
            width: 100%;
            height: auto;
            display: flex;
            flex-flow: row-reverse nowrap;
            justify-content: space-between;
            margin-left: 10px;
            margin-top: 30px;
            & h5 {
              font-size: 18px;
              font-family: var(--font-family-number);
              color: black;
            }
            & span {
              font-family: var(--font-family-number);
              font-size: 16px;
              padding: 0 10px;
              border-radius: 15px;
              background-color: red;
              color: whitesmoke;
            }
          }
          .text_before {
            display: block;
            width: 100%;
            font-family: var(--font-family-number);
            text-align: left;
            padding-left: 18px;
            font-size: 16px;
            color: rgb(142, 136, 136);
            text-decoration: line-through;
          }
        }
      }
    }
    .swiper-rtl .next_shegeftangiz_4 {
      width: 35px;
      height: 35px;
      background-color: whitesmoke;
      border-radius: 50%;
      visibility: visible;
    }
    .swiper-rtl .prev_shegeftangiz_4 {
      width: 35px;
      height: 35px;
      background-color: whitesmoke;
      border-radius: 50%;
    }
    .swiper-rtl .next_shegeftangiz_4:after {
      font-size: 14px;
      color: black;
      font-weight: bold;
    }
    .swiper-rtl .prev_shegeftangiz_4:after {
      font-size: 14px;
      color: black;
      font-weight: bold;
    }
    .d-none_shegeftangiz_4 {
      visibility: visible;
    }
  }
}
.shegeftangiz_8 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .shegeftangiz_8_center {
    width: 1500px;
    border: 1px solid rgb(224, 224, 226);
    border-radius: 10px;
    background: url(../../images/shegeftangizha/shegeftangiz_8/incrediblePattern.svg)
      left center no-repeat;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: #f5f3f3;
    .shegeftangiz_8_right {
      width: 20%;
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      row-gap: 10px;
      & img {
        object-fit: contain;
      }
      & span {
        font-family: var(--font-family);
        font-size: 11px;
      }
    }
    .shegeftangiz_5_middle {
      width: 42%;
      height: inherit;
      display: inline-block;
      position: absolute;
      margin-bottom: 30px;
      margin-right: 720px;
      .supermarket__image {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 30px;
        column-gap: 8px;
        & img {
          width: 58px;
          height: 58px;
          border-radius: 50%;
        }
      }
      .supermarket__percent {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 33px;
        margin-right: 113px;
        margin-bottom: 2px;
        position: absolute;
        bottom: 0;
        & span {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          width: 34px;
          height: 20px;
          font-family: var(--font-family);
          font-size: 12px;
          border-radius: 15px;
          background-color: red;
          color: whitesmoke;
        }
      }
    }
    .shegeftangiz_5_left {
      width: 40%;
      height: inherit;
      position: absolute;
      left: 0;
      margin-left: 5%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;
      background-image: url(../../images/supermarket/freshPattern.svg);
      background-repeat: no-repeat;
      background-size: contain;
      .more__item {
        width: 144px;
        height: 50px;
        border: 1px solid white;
        border-radius: 10px;
        color: #39ae00;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        background-color: white;
        & p {
          font-family: var(--font-family);
          font-size: 13px;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          column-gap: 5px;
        }
      }
    }
  }
}
.shegeftangiz_9 {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  & span {
    font-family: var(--font-family);
    font-size: 16px;
    padding-right: 20px;
  }
}
.shegeftangiz_10 {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  .shegeftangiz_10_right {
    width: 270px;
    height: 600px;
    display: flex;
    flex-flow: column wrap;
    border: 1px solid rgb(224, 224, 226);
    border-radius: 10px;
    margin-right: 20px;
    padding: 20px;
    position: sticky;
    right: 0;
    top: 20%;
    .shegeftangiz_10_right_1 {
      font-family: var(--font-family);
      font-size: 19px;
      color: black;
      padding: 20px 0 20px 0;
    }
    .shegeftangiz_10_right_2,
    .shegeftangiz_10_right_3,
    .shegeftangiz_10_right_4,
    .shegeftangiz_10_right_5,
    .shegeftangiz_10_right_6,
    .shegeftangiz_10_right_7,
    .shegeftangiz_10_right_8,
    .shegeftangiz_10_right_9 {
      font-family: var(--font-family);
      font-size: 15px;
      color: rgb(63, 64, 100);
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 5px;

      height: 58px;
      & img {
        width: 18px;
        height: 18px;
      }
    }
    .shegeftangiz_10_right_2,
    .shegeftangiz_10_right_3,
    .shegeftangiz_10_right_4,
    .shegeftangiz_10_right_5,
    .shegeftangiz_10_right_6,
    .shegeftangiz_10_right_7,
    .shegeftangiz_10_right_8 {
      border-bottom: 1px solid #ece7eb;
    }
    .shegeftangiz_10_right_2,
    .shegeftangiz_10_right_6,
    .shegeftangiz_10_right_9 {
      justify-content: space-between;
    }
    .shegeftangiz_10_right_5 {
      & h4 {
        color: rgb(129, 133, 139);
        font-size: 14px;
        font-weight: 400;
      }
      .shegeftangiz_10_right_3,
      .shegeftangiz_10_right_4,
      .shegeftangiz_10_right_5,
      .shegeftangiz_10_right_7,
      .shegeftangiz_10_right_8 {
      }
    }
  }
  .shegeftangiz_10_left {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    .shegeftangiz_10_left_top {
      width: 100%;
      height: 50px;
      display: flex;
      flex-flow: row wrap;
      padding-right: 20px;
      border-bottom: 1px solid #ece7eb;
      .shegeftangiz_10_left_top_right {
        width: 65%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        & span {
          font-family: var(--font-family);
          font-size: 12px;
          cursor: pointer;
        }
        .shegeftangiz_10_left_top_right_first {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          column-gap: 5px;
        }
      }
      .shegeftangiz_10_left_top_left {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 10px;
        & span {
          font-family: var(--font-family);
          font-size: 12px;
          color: rgb(129, 133, 139);
        }
      }
    }
    .shegeftangiz_10_left_bottom {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .shegeftangiz_10_left_bottom_item {
        width: 300px;
        height: 510px;
        padding: 12px 18px;
        
        .shegeftangiz_10_left_bottom_top {
          width: 100%;
          height: 26px;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          column-gap: 5px;
          font-family: var(--font-family);
          font-size:12px;
          color: rgb(177, 43, 164);
          font-weight: 800;
          & img{
            width: 18px;
            height: 18px;
          }
          
            
          
        }
        .shegeftangiz_10_left_bottom_center {
          width: 285px;
          height:240px ;
          display: flex;
          justify-content: center;
          align-items: center;
          & img{
            width:240px ;
            height:240px ;
          }
        }
        .shegeftangiz_10_left_bottom_bottom{
          width: 100%;
          height: 213px;
          display: flex;
          flex-flow: column wrap;
          .shegeftangiz_10_left_bottom_bottom_1{
            width: 100%;
            height: 29px;
          }
          .shegeftangiz_10_left_bottom_bottom_2{
            width: 100%;
            height: 52px;
            & h2{
              font-family: var(--font-family);
          font-size:12px;
          color: rgb(63, 64, 100);
          font-weight: 700;
          line-height: 26px;
            }
          }
          .shegeftangiz_10_left_bottom_bottom_3{
            width: 100%;
            height:24px ;
            display: flex;
            flex-flow: row wrap;
            column-gap: 5px;
            align-items: center;
            & p{
              font-family: var(--font-family);
              font-size:11px ;
              color:rgb(98, 102, 109) ;
              font-weight: 400;
            }
            & img{
              width: 18px;
              height: 18px;
            }
          }
          .shegeftangiz_10_left_bottom_bottom_4{
            width: 100%;
            height:34px ;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            padding-top: 4px;
            .shegeftangiz_10_left_bottom_bottom_4_right{
              width: 34px;
              height: 20px;
              border: 1px solid rgb(211, 47, 47);
              border-radius: 16px;
              background-color: rgb(211, 47, 47);
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              & span{
                font-family: var(--font-family);
                font-size: 12px;
                font-weight: 700;
              }
            }
            .shegeftangiz_10_left_bottom_bottom_4_left{
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              column-gap: 5px;
              & img{
                width: 18px;
                height: 18px;
              }
              & span{
                font-family: var(--font-family);
                font-size:16px ;
                font-weight:700 ;
                color:rgb(63, 64, 100) ;
              }
            }
          }
          .shegeftangiz_10_left_bottom_bottom_5{
            width: 100%;
            height: 26px;
            display: flex;
            justify-content: flex-end;
            padding-left: 25px;
            padding-top: 10px;
            & span{
              font-family: var(--font-family);
              font-size: 12px;
              text-decoration: line-through;
              color: rgb(192, 194, 197);
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
