.shegeftangiz {
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .shegeftangiz__center {
    width: 85%;
    height: inherit;
    background-color: rgb(239, 60, 81);
    border-radius: 20px;
    padding: 20px 0;
    border-left: 3px solid rgb(239, 60, 81);
    .first__slide {
      width: 100%;
      height: 100%;
      background-color: rgb(239, 60, 81);
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      & svg {
        width: 92px;
        height: 77px;
        margin-bottom: 15px;
      }
      & img {
        width: 145px;
        height: 115px;
        margin-bottom: 15px;
      }
      & a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: whitesmoke;
        font-size: 14px;
        font-family: IRAN;
      }
    }
    .swiper-slide {
      .slide__shegeftangiz {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 10px;
        & img {
          width: 150px;
          height: 150px;
          margin-bottom: 10px;
        }
        .text__discount {
          width: 100%;
          height: auto;
          display: flex;
          flex-flow: row-reverse wrap;
          justify-content: space-between;
          margin-bottom: 10px;
          margin-left: 10px;
          & h5 {
            font-size: 18px;
            font-family: var(--font-family-number);
          }
          & span {
            font-family: var(--font-family-number);
            font-size: 16px;
            padding: 0 10px;
            border-radius: 15px;
            background-color: red;
            color: whitesmoke;
          }
        }
        .text__before {
          display: block;
          width: 100%;
          font-family: var(--font-family-number);
          text-align: left;
          padding-left: 25px;
          font-size: 16px;
          color: rgb(142, 136, 136);
          text-decoration: line-through;
        }
      }
    }
    .see__more {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      .more {
        font-family: var(--font-family);
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-decoration: none;
        color: black;opacity: 0.8;
        .circle {
          width: 46px;
          height: 46px;
          border: 1px solid rgb(53, 199, 216);
          border-radius: 50%;
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
        }
      }
    }
  }
}
.left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.swiper-rtl .next_shegeftangiz{
  width: 35px;
  height: 35px;
  background-color: whitesmoke;
  border-radius: 50%;
}
.swiper-rtl .prev_shegeftangiz{
  width: 35px;
  height: 35px;
  background-color: whitesmoke;
  border-radius: 50%;
}
.swiper-rtl .next_shegeftangiz:after {
  font-size: 14px;
  color: black;
  font-weight: bold;
}
.swiper-rtl .prev_shegeftangiz:after {
  font-size: 14px;
  color: black;
  font-weight: bold;
}
.d-none_shegeftangiz{
  visibility: visible;
}