.shegeftangiz__supermarket {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .supermarket__center {
    width: 85%;
    height: 110px;
    background-color:#EDEFED;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    .image__background {
      width: 100%;
      height: 110px;
      display: inline-block;
      & img {
        display: block;
        width: 100%;
        height: inherit;
        object-fit: cover;
      }
    }
    .supermarket__right {
      width: 40%;
      height: inherit;
      margin-left: -5px;
      position: absolute;
      right: 0;
      margin-right: 7%;
      display: flex;
      flex-flow: row wrap;
      justify-content: start;
      align-items: center;
      padding-right: 45px;
      column-gap: 10px;
      .box {
        width: 66px;
        height: 62px;
      }
      .supermarket__discount{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #39AE00;
        background-color: #39AE00;
        color: whitesmoke;
        border-radius: 10px;
        width: 105px;
        height: 25px;
        & p {
            font-family: var(--font-family);
        }
      }
    }
    .supermarket__middle {
      width: 42%;
      height: inherit;

      display: inline-block;
      position: absolute;
      right: 0;
      margin-right: 620px;
      .supermarket__image{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 30px;
        column-gap: 8px;
        & img {
            width: 58px;
            height: 58px;
            border-radius: 50%;
        }
      }
      .supermarket__percent{
        display: flex;
        flex-flow: row wrap;
        column-gap: 33px;
        margin-right: 153px;
        margin-bottom: 2px;
        position: absolute;
        bottom: 10px;
        & span {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            width: 34px;
            height: 20px;
            font-family: var(--font-family-number);
            font-size: 16px;
            padding: 0 10px;
            border-radius: 15px;
            background-color: red;
            color: whitesmoke;
          }
      }
    }
    .supermarket__left {
      width: 20%;
      height: inherit;
      position: absolute;
      left: 0;
      margin-left: 7%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      .more__item{
        width: 144px;
        height: 50px;
        border: 1px solid white;
        border-radius: 10px;
        color: #39AE00;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        background-color: white;
        & p {
            font-family: var(--font-family);
            font-size: 13px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            column-gap: 5px;
        }
      }
    }
  }
}
